@import url("fonts.css");
@import url("ionicons/css/ionicons.min.css");
@import url("micons/micons.css");
html {
	font-size: 10px;
}
@media only screen and (max-width:1024px) {
	html {
		font-size: 9.375px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.375px;
	}
}

html, body {
	height: 100%;
}
body {
	background: #14181E;
	font-family: "merriweather-regular", serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #737373;
}

/**
 * links 
 * -
 */

a, a:visited {
	color: #0087cc;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	color: #ff7b29;
}

/**
 * typography  
 * -
 */

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "raleway-bold", sans-serif;
	color: white;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;

}
h3, .h03, h4, .h04 {
	margin-bottom: 1.8rem;
}
h5, .h05, h6, .h06 {
	font-family: "raleway-heavy";
	margin-bottom: 1.2rem;
}

h1, .h01 {
	font-size: 3.1rem;
	line-height: 1.35;
	letter-spacing: -.1rem;
}
@media only screen and (max-width:600px) {
	h1, .h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
}

h2, .h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}
h3, .h03 {
	font-size: 2rem;
	line-height: 1.5;
}
h4, .h04 {
	font-size: 1.7rem;
	line-height: 1.76;
}
h5, .h05 {
	font-size: 1.4rem;
	line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
h6, .h06 {
	font-size: 1.3rem;
	line-height: 1.85;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

p img {
	margin: 0;
}
p.lead {
	font-family: "Lato", serif;
	font-size: 1.8rem;
	line-height: 1.8;
	color: #737373;
}
@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.7rem;
	}
}

em, i, strong, b {
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
em, i {
	font-family: "merriweather-italic", serif;
}
strong, b {
	font-family: "merriweather-bold", serif;
}
small {
	font-size: 1.1rem;
	line-height: inherit;
}
blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}
blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: #333;
	font-family: arial, sans-serif;
	position: absolute;
	top: 3rem;
	left: 0;
}
blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 1.9rem;
	line-height: 1.75;
}
blockquote cite {
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	line-height: 1.65;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
	color: #8d8d8d;
	border: none;
}
abbr {
	font-family: "merriweather-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: #8d8d8d;
}
var, kbd, samp, code, pre {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}
pre {
	padding: 2.4rem 3rem 3rem;
	background: #F1F1F1;
}
code {
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
}
pre > code {
	display: block;
	white-space: pre;
	line-height: 2;
	padding: 0;
	margin: 0;
}
pre.prettyprint > code {
	border: none;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
mark {
	background: #FFF49B;
	color: #000;
}
hr {
	border: solid #cfcfd5;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/**
 * Lists  
 * -
 */

ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
li {
	display: list-item;
}
ol, ul {
	margin-left: 1.7rem;
}
ul li {
	padding-left: .4rem;
}
ul ul, ul ol, ol ol, ol ul {
	margin: .6rem 0 .6rem 1.7rem;
}
ul.disc li {
	display: list-item;
	list-style: none;
	padding: 0 0 0 .8rem;
	position: relative;
}
ul.disc li::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #05bca9;
	position: absolute;
	left: -17px;
	top: 11px;
	vertical-align: middle;
}
dt {
	margin: 0;
	color: #05bca9;
}
dd {
	margin: 0 0 0 2rem;
}

/**
 * tables  
 * -
 */

table {
	border-width: 0;
	width: 100%;
	max-width: 100%;
	font-family: "raleway-regular", sans-serif;
}
th, td {
	padding: 1.5rem 3rem;
	text-align: left;
	border-bottom: 1px solid #E8E8E8;
}
th {
	color: #252525;
	font-family: "raleway-bold", sans-serif;
}
td {
	line-height: 1.5;
}
th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child, td:last-child {
	padding-right: 0;
}
.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/**
 * Spacing  
 * -
 */

button, .button {
	margin-bottom: 1.2;
}
fieldset {
	margin-bottom: 1.5rem;
}
input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.iw-custom-select {
	margin-bottom: 3rem;
}

/**
 * floated image  
 * -
 */

img.pull-right {
	margin: 1.5rem 0 0 3rem;
}
img.pull-left {
	margin: 1.5rem 3rem 0 0;
}

/**
 * block grids paddings 
 * -
 */

.bgrid {
	padding: 0 20px;
}
@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}
}
@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}
}
@media only screen and (max-width:600px) {
	.bgrid {
		padding: 0 10px;
	}
}
@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}
}


/** 
 * ===================================================================
 * preloader
 *
 * ------------------------------------------------------------------- 
 */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0F1215;
	z-index: 9999999;
	height: 100%;
	width: 100%;
}
.no-js #preloader, .oldie #preloader {
	display: none;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	padding: 0;
	background-color: #428BCA;
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}
@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}
/** 
 * ===================================================================
 * common styles 
 *
 * ------------------------------------------------------------------- 
 */

.section-intro {
	max-width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5.2rem;
	position: relative;
}
.section-intro h1 {
	font-family: "merriweather-bold", serif;
	font-size: 4.8rem;
	color: #252525;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}
.section-intro h5 {
	color: rgba(56, 66, 78, 0.5);
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}
.section-intro .lead {
	color: rgba(0, 0, 0, 0.45);
}
.section-intro .with-bottom-line {
	position: relative;
	overflow: hidden;
}
.section-intro .with-bottom-line::after {
	display: block;
	background-color: #428BCA;
	width: 120px;
	height: 3px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
}
@media only screen and (max-width:600px) {
	section .h01 {
		font-size: 2.5rem;
	}
}

/**
 * responsive:
 * common styles
 * - 
 */

@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}
	.section-intro h1 {
		font-size: 4.2rem;
	}
}
@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 3.8rem;
	}
	.section-intro h5 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}
}
@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 3.6rem;
	}
}


/** 
 * ===================================================================
 * header styles 
 *
 * ------------------------------------------------------------------- 
 */

header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 24px;
	z-index: 600;
	background: transparent;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
header .row {
	width: auto;
	height: 66px;
	position: relative;
}

header .logo {
	margin-top: 2px;
	z-index: 600;
	position: absolute;
	left: 35px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	width: 42px;
	height: 42px;
	background: url("../images/logo.png") no-repeat center;
	background-size: 42px 42px;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.sticky {
	position: fixed;
	background: #14171c;
	top: 0;
}
.sticky .logo a {
	width: 38px;
	height: 38px;
	background-size: 38px 38px;
}

/**
 * responsive:
 * header section
 * - 
 */

@media only screen and (max-width:768px) {
	header {
		top: 0;
		padding: 6px 0;
	}
	header .logo a {
		width: 38px;
		height: 38px;
		background-size: 38px 38px;
	}
}

/**
 * primary navigation
 * - 
 */

#main-nav-wrap, .main-navigation {
	margin: 0;
	padding: 0;
}

/* hide toggle button */
a.menu-toggle {
	display: none;
}

/* main-nav-wrap */
#main-nav-wrap {
	font-family: 'Lato', sans-serif;
	font-size: 15.5px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	position: absolute;
	top: 0;
	right: 30px;
}
.main-navigation {
	min-height: 66px;
	display: inline-block;
	width: auto;
	text-align: left;
}
.main-navigation li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.main-navigation li.current a {
	color: #428BCA;
}
.main-navigation li.current a::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	height: 3px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #05bca9;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li.highlight a {
	color: #428BCA;
}
.main-navigation li.with-sep a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.main-navigation li.with-sep a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* navigation links */
.main-navigation li a {
	display: block;
	padding: 18px 7px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	color: white;
	position: relative;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.main-navigation li a:active {
	background-color: transparent !important;
}
.main-navigation li a:hover {
	color: #428BCA;
}

/**
 * mobile view - primary navigation
 * - 
 */

@media only screen and (max-width:768px) {
	#main-nav-wrap {
		display: block;
		width: 100%;
		position: absolute;
		top: 69px;
		right: 0;
	}
	a.menu-toggle {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -20px;
	}
	a.menu-toggle span {
		display: block;
		width: 24px;
		height: 3px;
		margin-top: -1.5px;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		background-color: white;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		-webkit-transition: background 0.2s ease-in-out;
		-ms-transition: background 0.2s ease-in-out;
		transition: background 0.2s ease-in-out;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
	a.menu-toggle span::before, a.menu-toggle span::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
		-moz-transition-duration: 0.2s, 0.2s;
		-o-transition-duration: 0.2s, 0.2s;
		-webkit-transition-duration: 0.2s, 0.2s;
		-ms-transition-duration: 0.2s, 0.2s;
		transition-duration: 0.2s, 0.2s;
		-moz-transition-delay: 0.2s, 0s;
		-o-transition-delay: 0.2s, 0s;
		-webkit-transition-delay: 0.2s, 0s;
		-ms-transition-delay: 0.2s, 0s;
		transition-delay: 0.2s, 0s;
	}
	a.menu-toggle span::before {
		top: -8px;
		-moz-transition-property: top, transform;
		-o-transition-property: top, transform;
		-webkit-transition-property: top, transform;
		-ms-transition-property: top, transform;
		transition-property: top, transform;
	}
	a.menu-toggle span::after {
		bottom: -8px;
		-moz-transition-property: bottom, transform;
		-o-transition-property: bottom, transform;
		-webkit-transition-property: bottom, transform;
		-ms-transition-property: bottom, transform;
		transition-property: bottom, transform;
	}
	.menu-toggle.is-clicked span {
		background-color: rgba(255, 255, 255, 0);
	}
	.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
		background-color: white;
		-moz-transition-delay: 0s, 0.2s;
		-o-transition-delay: 0s, 0.2s;
		-webkit-transition-delay: 0s, 0.2s;
		-ms-transition-delay: 0s, 0.2s;
		transition-delay: 0s, 0.2s;
	}
	.menu-toggle.is-clicked span::before {
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.menu-toggle.is-clicked span::after {
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.main-navigation {
		background: #14171c;
		padding: 48px 42px 54px 42px;
		margin: 0;
		width: 100%;
		height: auto;
		clear: both;
		display: none;
	}
	.main-navigation > li {
		display: block;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted rgba(200, 200, 200, 0.08);
		padding: 0;
	}
	.main-navigation > li:first-child {
		border-top: 1px dotted rgba(200, 200, 200, 0.08);
	}
	.main-navigation li a {
		display: block;
		color: #e6e6e6;
		width: auto;
		padding: 18px 0;
		line-height: 16px;
		border: none;
	}
	.main-navigation li a:hover {
		color: #428BCA;
	}
	.main-navigation li.with-sep a {
		padding-left: 0;
		margin-left: 0;
	}
	.main-navigation li.with-sep a::before {
		display: none;
	}
	.main-navigation li.current > a {
		background: none;
		color: #428BCA;
	}
	.main-navigation li.current > a:after {
		display: none;
	}
}

/**
 * make sure the menu is visible on larger screens
 * -
 */

@media only screen and (min-width:769px) {
	#main-nav-wrap ul.main-navigation {
		display: block !important;
	}
}


/** 
 * ===================================================================
 * intro section
 *
 * ------------------------------------------------------------------- 
 */

#intro {
	background: black no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
}
.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73000000', endColorstr='#00000000', GradientType=0);  /* IE6-9 */
}
.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-1.2rem);
	-ms-transform: translateY(-1.2rem);
	transform: translateY(-1.2rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "merriweather-bold", serif;
	font-size: 5.4rem;
	line-height: 1.334;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.intro-content h5 {
	color: rgba(255, 255, 255, 0.6);
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.8rem;
	line-height: 1.667;
	margin-bottom: 0.6rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.intro-content .video-link a {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin-bottom: 4.2rem;
	outline: none;
}
.intro-content .button {
	border-color: #FFFFFF;
	color: #FFFFFF;
	height: 6.6rem;
	line-height: 6rem;
	padding: 0 3rem !important;
	margin-top: 1.8rem;
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .4rem;
}
.intro-content .button:hover, .intro-content .button:focus {
	color: #05bca9;
	border-color: #05bca9;
}

/**
 * responsive:
 * intro
 * -
 */

@media only screen and (max-width:1024px) {
	.intro-content {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.intro-content h1 {
		font-size: 4.8rem;
		max-width: 700px;
	}
	.intro-content h5 {
		font-size: 1.6rem;
	}
	.intro-content .video-link a {
		width: 72px;
		height: 72px;
		margin-bottom: 3rem;
	}
}
@media only screen and (max-width:768px) {
	#intro {
		min-height: 660px;
	}
	.intro-content h1 {
		font-size: 4.2rem;
		max-width: 550px;
	}
	.intro-content h5 {
		font-size: 1.5rem;
		letter-spacing: .15rem;
	}
}
@media only screen and (max-width:600px) {
	#intro {
		min-height: 600px;
	}
	.intro-content h1 {
		font-size: 3.8rem;
		margin-bottom: .9rem;
	}
	.intro-content h5 {
		font-size: 1.4rem;
		letter-spacing: .15rem;
	}
	.intro-content .video-link a {
		width: 66px;
		height: 66px;
		margin-bottom: 1.5rem;
	}
}
@media only screen and (max-width:400px) {
	#intro {
		min-height: 550px;
	}
	.intro-content h1 {
		font-size: 3.4rem;
	}
	.intro-content h5 {
		font-size: 1.4rem;
		letter-spacing: .15rem;
	}
	.intro-content .video-link a {
		width: 60px;
		height: 60px;
	}
}
/** AboutIEEE
 * ===================================================================
 * AboutIEEE section
 *
 * ------------------------------------------------------------------- 
 */

#AboutIEEE {
	background: #FFFFFF;
	padding-top: 12rem;
	padding-bottom: 15rem;
	overflow: hidden;
}
.AboutIEEE-content {
	position: relative;
	text-align: center;
}
.AboutIEEE-content .right-side,
.AboutIEEE-content .left-side,
.AboutIEEE-content .image-part {
	width: 33.33333%;
	font-size: 15px;
	line-height: 27px;
}
.AboutIEEE-content .right-side, .AboutIEEE-content .left-side {
	padding: 0 6% 24px;
	position: absolute;
	top: 0;
}
.AboutIEEE-content .right-side {
	right: 0;
}
.AboutIEEE-content .left-side {
	left: 0;
}
.AboutIEEE-content .image-part {
	margin: 0 auto;
	height: 660px;
	background-image: url("../images/appdesign.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}
.AboutIEEE-content .item[data-item]::before {
	background: #38424e;
	color: #FFFFFF;
	border-radius: 100%;
	font-family: "montserrat-bold", sans-serif;
	content: attr(data-item);
	display: inline-block;
	font-size: 18px;
	height: 42px;
	width: 42px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1.5rem;
}
.AboutIEEE-content h5 {
	color: #05bca9;
	font-size: 1.6rem;
	line-height: 1.875;
	letter-spacing: .2rem;
	margin-bottom: .3rem;
}

/**
 * responsive:
 * AboutIEEE
 * -
 */

@media only screen and (max-width:1024px) {
	.AboutIEEE-content .right-side, .AboutIEEE-content .left-side {
		padding: 0 3% 24px;
		width: 35%;
	}
	.AboutIEEE-content .image-part {
		height: 600px;
		width: 30%;
	}
}
@media only screen and (max-width:768px) {
	#AboutIEEE {Events
		padding-bottom: 27rem;
	}
	.AboutIEEE-content .right-side, .AboutIEEE-content .left-side {
		position: static;
		width: 100%;
		max-width: 480px;
		font-size: 1.6rem;
		line-height: 3rem;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 0;
	}
	.AboutIEEE-content .image-part {
		width: 300px;
		position: absolute;
		bottom: -630px;
		left: 50%;
		margin-left: -150px;
	}
}
@media only screen and (max-width:400px) {
	#AboutIEEE {
		padding-bottom: 21rem;
	}
	.AboutIEEE-content .image-part {
		width: 230px;
		bottom: -540px;
		margin-left: -115px;
	}
}


/** 
 * ===================================================================
 * upcomingevents section
 *
 * ------------------------------------------------------------------- 
 */

#upcomingevents {
	background:#428BCA;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top: 12rem;
	padding-bottom: 12rem;
	color: white;
}
#upcomingevents .section-intro h1 {
	color: white;
}
#upcomingevents .section-intro h5 {
	color: rgba(255, 255, 255, 0.5);
}
#upcomingevents .section-intro p {
	color: rgba(255, 255, 255, 0.7);
}
.upcomingevents-content {
	max-width: 1200px;
}
.upcomingevents-list {
	margin-top: 1.2rem;
	text-align: center;
}
.upcomingevents-list .feature {
	margin-bottom: 1.2rem;
	padding: 0 32px;
}
.upcomingevents-list .icon {
	display: inline-block;
	margin-bottom: 2.1rem;
}
.upcomingevents-list .icon i {
	font-size: 4.8rem;
}
.upcomingevents-list .h05 {
	font-size: 1.7rem;
	line-height: 1.765;
	color: white;
	margin-bottom: 1.8rem;

}

/**
 * responsive:
 * upcomingevents
 * -
 */

@media only screen and (max-width:768px) {
	.upcomingevents-content {
		max-width: 600px;
	}
	.upcomingevents-list .feature {
		padding: 0 15px;
	}
}
@media only screen and (max-width:600px) {
	.upcomingevents-list .feature {
		padding: 0 10px;
	}
}
@media only screen and (max-width:400px) {
	.upcomingevents-list .feature {
		padding: 0;
	}
}


/** 
 * ===================================================================
 * pricing section
 *
 * ------------------------------------------------------------------- 
 */

#pricing {
	background: #EAEAED;
	padding-top: 12rem;
	padding-bottom: 9.6rem;
}
.pricing-content {
	margin-top: 6.6rem;
	max-width: 1280px;
}
.pricing-content .bgrid {
	margin-bottom: 3.6rem;
}
.pricing-content .price-block {
	background-color: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pricing-content .price-block .top-part,
.pricing-content .price-block .bottom-part {
	padding: 3.9rem 1.5rem;
}
.pricing-content .price-block .top-part {
	background: #58687b;
	color: #FFFFFF;
	padding-bottom: 2.4rem;
	position: relative;
}
.pricing-content .price-block .bottom-part {
	padding-top: 2.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
}
.pricing-content .price-block .plan-title {
	color: #FFFFFF;
	padding-bottom: 2.4rem;
	margin-bottom: 1.2rem;
	font-size: 2.4rem;
	position: relative;
}
.pricing-content .price-block .plan-title::after {
	display: block;
	background-color: rgba(255, 255, 255, 0.3);
	width: 80px;
	height: 1px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -40px;
}
.enter{
  position: absolute;
  font-family: 'Lato' , sans-serif;
  
}
.content1 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow: hidden;
}


.visible1 {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 20px;
}
.visible1:before {
  content: '[';
  left: 0;
  line-height: 40px;
}
.visible1:after {
  content: ']';
  position: absolute;
  right: 0;
  line-height: 40px;
}
.visible1:after, .visible1:before {
  position: absolute;
  top: 0;
  color: #428BCA;
  font-size: 42px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
 .visible1 > p{

  display: inline;
  float: left;
  margin: 0;
}

.visible1 > ul {
  margin-top: 0;
  padding-left: 70px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.visible1 > ul li {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

 



.pricing-content .price-block .plan-price {
	font-family: "raleway-bold", sans-serif;
	font-size: 5rem;
	line-height: 1;
	margin-bottom: .6rem;
}
.pricing-content .price-block .plan-price sup {
	font-size: 2.4rem;
	top: -1.5rem;
	margin-right: 3px;
}
.pricing-content .price-block .price-month {
	margin-bottom: 1.2rem;
	font-family: "raleway-bold", sans-serif;
	font-size: 1.6rem;
}
.pricing-content .price-block .price-meta {
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.8rem;
}
.pricing-content .price-block .button {
	color: #353F49;
	padding: 0 5rem;
	margin-left: auto;
	margin-right: auto;
}
.pricing-content .price-block .button:hover,
.pricing-content .price-block .button:focus {
	background: #58687b;
	color: #FFFFFF;
}
.pricing-content .price-block .upcomingevents {
	list-style: none;
	font-family: "raleway-bold", sans-serif;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.4);
	margin: .6rem 0 1.8rem 0;
}
.pricing-content .price-block .upcomingevents li {
	padding: .6rem 0;
	border-bottom: 1px solid #EAEAED;
}
.pricing-content .price-block .upcomingevents li strong {
	color: #353F49;
	font-family: "raleway-bold", serif;
	margin-right: 5px;
}
.pricing-content .price-block .upcomingevents li:last-child {
	border: none;
}
.pricing-content .primary .top-part {
	background: #05bca9;
}
.pricing-content .primary .top-part::before {
	content: attr(data-info);
	display: block;
	min-height: 48px;
	line-height: 48px;
	width: 75%;
	text-align: center;
	color: #FFFFFF;
	background: #38424e;
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .15rem;
	position: absolute;
	bottom: -18px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 500;
	border-radius: 5px;
}

/**
 * responsive:
 * pricing
 * -
 */

@media only screen and (max-width:1140px) {
	.pricing-content {
		max-width: 800px;
	}
	.pricing-content .bgrid {
		width: 50%;
		clear: none;
	}
	.pricing-content .bgrid:nth-child(2n+1) {
		clear: both;
	}
}
@media only screen and (max-width:600px) {
	.pricing-content {
		max-width: 420px;
	}
	.pricing-content .bgrid {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
	}
}


/** 
 * ===================================================================
 * Events section
 *
 * ------------------------------------------------------------------- 
 */

#Events {
	background: black;
	padding-top: 10.2rem;
	padding-bottom: 12rem;
	position: relative;
	min-height: 20.4rem;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#Events .h01 {
	padding-bottom: 2.1rem;
	margin-bottom: 3.6rem;
	position: relative;
	color: white;
}
#Events .h01::after {
	display: block;
	background-color: #428BCA;
	width: 120px;
	height: 3px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
}
#Events .flex-container {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}
#testimonial-slider {
	margin: 0 0 3rem 0;
	position: relative;
}
#testimonial-slider p {
	font-family: "raleway-medium", sans-serif;
	font-size: 2.5rem;
	line-height: 1.8;
	color: #8d8d8d;
}
#testimonial-slider p::before, #testimonial-slider p::after {
	display: inline;
	font-family: Arial, sans-serif;
	color: #c7c7c7;
	font-size: 6rem;
	line-height: 0;
	vertical-align: bottom;
	position: relative;
	top: -1.2rem;
}
#testimonial-slider p::before {
	margin-right: .5rem;
	content: '\201C';
}
#testimonial-slider p::after {
	margin-left: .5rem;
	content: '\201D';
}
#testimonial-slider .testimonial-author img {
	width: 8.2rem;
	height: 8.2rem;
	margin: 0 auto 1.2rem auto;
	display: block;
	border-radius: 50%;
	vertical-align: middle;
	border: 9px solid #EAEAED;
}
#testimonial-slider .testimonial-author .author-info {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 3rem;
	color: white;
}
#testimonial-slider .testimonial-author .author-info span {
	display: block;
	font-family: "raleway-semibold", sans-serif;
	font-size: 1.4rem;
	line-height: 2.1rem;
	letter-spacing: 0;
	text-transform: none;
	color: rgba(0, 0, 0, 0.4);
}

/* control nav */
#Events .flex-control-nav {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: -42px;
}
#Events .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}
#Events .flex-control-paging li a {
	width: 15px;
	height: 15px;
	display: block;
	border: 4px solid #8d8d8d;
	cursor: pointer;
	border-radius: 50%;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
#Events .flex-control-paging li a:hover {
	border: 4px solid #05bca9;
}
#Events .flex-control-paging li a.flex-active {
	background: #428BCA;
	border-color: #428BCA;
	cursor: default;
}

/* direction nav */
#Events .flex-direction-nav li {
	padding: 0;
	z-index: 500;
	position: absolute;
	bottom: 0;
	margin-bottom: -57px;
}
#Events .flex-direction-nav li a {
	display: block;
	opacity: .8;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
#Events .flex-direction-nav li a.flex-prev::before,
#Events .flex-direction-nav li a.flex-next::after {
	display: block;
	background: #EAEAED;
	color: #737373;
	border-radius: 5px;
	font-family: "Ionicons";
	font-size: 18px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	text-align: center;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#Events .flex-direction-nav li a.flex-prev::before {
	content: "\f2ca";
}
#Events .flex-direction-nav li a.flex-next::after {
	content: "\f30f";
}
#Events .flex-direction-nav li a.flex-next:hover::after,
#Events .flex-direction-nav li a.flex-prev:hover::before {
	background: #05bca9;
	color: #FFFFFF;
}
#Events .flex-direction-nav li.flex-nav-prev {
	left: 0;
}
#Events .flex-direction-nav li.flex-nav-next {
	right: 0;
}

/**
 * responsive:
 * testimonial slider
 * -
 */

@media only screen and (max-width:1024px) {
	#Events .flex-container {
		max-width: 600px;
	}
	#testimonial-slider p {
		font-size: 2.4rem;
	}
}
@media only screen and (max-width:768px) {
	#Events .flex-container {
		width: 90%;
	}
	#testimonial-slider p {
		font-size: 2.2rem;
	}
}
@media only screen and (max-width:600px) {
	#Events .flex-container {
		width: 95%;
	}
	#testimonial-slider p {
		font-size: 2rem;
	}
	#testimonial-slider p::before, #testimonial-slider p::after {
		top: -0.5rem;
	}
}
@media only screen and (max-width:400px) {
	#Events .flex-container {
		width: auto;
	}
	#testimonial-slider p {
		font-size: 1.8rem;
	}
}
/** 
 * ===================================================================
 * footer
 *
 * ------------------------------------------------------------------- 
 */

footer {
	padding-bottom: 3rem;
	font-size: 1.5rem;
	line-height: 2.7rem;
	font-family: "raleway-medium", sans-serif;
	color: white;
}
footer a, footer a:visited {
	color: #05bca9;
}
footer a:hover, footer a:focus {
	color: #FFFFFF;
}
footer h4 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
	padding-bottom: 1.2rem;
	margin-bottom: 1.2rem;
	color: #428BCA;
}
footer ul {
	margin-left: 0;
}
footer ul li {
	padding-left: 0;
}
.footer-main {
	padding-top: 6.6rem;
	padding-bottom: 4.2rem;
	background: #171b23;
}
.footer-main ul {
	font-size: 1.5rem;
}
.footer-main ul li {
	font-family: "raleway-bold", sans-serif;
	list-style: none;
}
.footer-main ul a, .footer-main ul a:visited {
	color: white;
}
.footer-main ul a:hover, .footer-main ul a:focus {
	color: #428BCA;
}
.footer-main .footer-logo {
	width: 162px;
	height: 39px;
	background: url("../images/footer-logo.png") no-repeat center;
	background-size: 162px 39px;
	margin: -.6rem 0 2.1rem -.3rem;
	display: block;
}
.
.footer-bottom {
	margin-top: 3rem;
	text-align: center;
}
.footer-bottom .copyright span {
	display: inline-block;
}
.footer-bottom .copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}
.footer-bottom .copyright span:last-child::after {
	display: none;
}

/**
 * responsive:
 * footer
 * -
 */

@media only screen and (max-width:768px) {
	.footer-main .footer-logo {
		margin-left: auto;
		margin-right: auto;
	}
	.footer-main .footer-info {
		text-align: center;
	}
}
@media only screen and (max-width:600px) {
	.footer-main .row {
		max-width: 420px;
	}
	.footer-main .footer-subscribe {
		text-align: center;
	}
	.footer-main .subscribe-form form input[type="email"] {
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center;
	}
	.footer-bottom {
		padding-bottom: .6rem;
	}
	.footer-bottom .copyright span {
		display: block;
	}
	.footer-bottom .copyright span::after {
		display: none;
	}
}
@media only screen and (max-width:400px) {
	.footer-main .site-links, .footer-main .social-links {
		text-align: center;
	}
	.footer-main .site-links h4, .footer-main .social-links h4 {
		border: none;
	}
	.footer-main ul {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-main ul li a {
		display: block;
		border-bottom: 1px solid rgba(255, 255, 255, 0.03);
		padding: .6rem 0;
	}
	.footer-main ul li:first-child a {
		border-top: 1px solid rgba(255, 255, 255, 0.03);
	}
}

/**
 * go to top
 * -
 */

#go-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 600;
	display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	height: 66px;
	width: 60px;
	line-height: 66px;
	text-align: center;
	background: #428BCA;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#go-top a i {
	font-size: 20px;
	line-height: inherit;
}
#go-top a:hover {
	background: #ff7b29;
	color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */