@charset "utf-8";

.bold-text{
	font-weight: bold;
}
p{
	text-align: justify;
	font-family : Play;
  font-size : 16px;
	
}
h1{
	font-family : Amaranth;
  font-weight : bold;
  font-size : 36px;
	text-align: center;
}
h2{
	 font-family : Amaranth;
  	 font-size : 24px;
	text-align: center;	
}
.logo{
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-content: center;
	margin-left: 10px;
	margin-right: 10px;
}
.ieee_logo{
	align-self: flex-start;
}
.navbar {
	padding-bottom: 5px;
	font-family:play;
	font-size: 20px;
	font-weight: bold;
	border-style: none;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.highlight {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	background-color: #E5E7E9  ;
}

.highlight .content p{
	font-family : Play;
  font-size : 16px;
	text-align: justify;
}
.highlight img{
	width :inherit;
  height : inherit;
	display: flex;
	
}
.feature-container{
	border-style: dotted;
	border-width: thin;
	border-color: #000000;
}
.feature-one{
	border-right-style: dotted;
	border-width: thin;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	
}
.feature-two{
	border-left-style: dotted;
	border-width: thin;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.feature img{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	 max-width: 100%;
  	height :400px ;
	padding: 10px;
	
}
.feature p{
	display: flex;
	justify-content: center;
	text-align: justify;
	font-family : Play;
  	font-size : 16px;
}

.events{
	background-color: #E5E7E9  ;
}
.events img{
	 max-width: 100%;
  	height :220px;
	
}

.footer-bottom{
	background-color: #000000;
	font-size: 10;
	color:aliceblue;
	display: flex;
	justify-content: center;
}
